<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top ">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Karl Oberst", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
               

               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, null)</li>

                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Store" ? "active" : "")">@Html.ActionLink("Productos", "Index", "Store", new { area = "" }, null)</li>
                    @*<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Store" ? "active" : "")" >@Html.ActionLink("Tienda","Index","Store", new { area = "" }, null)</li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        
                        <li>@Html.ActionLink("Cerrar sesión", "Logout", "Login", new { area = "" }, null)</li>
                    }
                    else
                    {
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Login" ? "active" : "")">@Html.ActionLink("Login", "Login", "Login", new { area = "" }, null)</li>
                       
                        
                    }

                    
                    <li><a href="#" data-toggle="modal" data-target="#myModal" ><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    @* ------------------Modal-------------- *@
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Carrito</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>Frankfurt ----------------- 2uds. 0,50€</li>
                        <li>Bockwurst ----------------- 2uds. 1€</li>
                        <li>TOTAL -------------------------<strong>1,50€</strong></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Checkout</button>
                </div>
            </div>
        </div>
    </div>
    @* -------------------------------- *@
    <div class="container body-content">

        <div class="row">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>Karl Oberst S.L.</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Slider.js"></script>
</body>
</html>